{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css","html", "markup", "python", "cpp", "c", "py", "c++"],
          "plugins": ["line-numbers", "show-language"],
          "theme": "okaidia",
          "css": true
      }]
    ]
  }